<div class="pos-fixed top-0 topbar-user">
  <nav class="navbar-height d-flex justify-center align-items-center pcon-4">
    <ul>
      <li><span><%= current_user.name.upcase %></span></li>
    </ul>
  </nav>
</div>