@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Yantramanav', sans-serif;
  @apply text-slate-700;
}

.number {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
}

.hover {
  @apply transition-all ease-in-out duration-300;
}

.link {
  @apply text-sky-500 font-bold hover:text-sky-700 hover:underline hover;
}

.link-delete {
  @apply text-red-500 font-bold hover:text-red-700 hover:underline hover;
}

.icon {
  @apply w-8;
}

.icon-small {
  @apply w-6;
}

.main-table {
  @apply w-full;
}

.main-table thead tr {
  @apply bg-blue-300;
}

.main-table thead tr th {
  @apply border;
}

.main-table tr:nth-child(even) {
  @apply bg-neutral-100 border border-neutral-200;
}

.main-table td:first-child {
  @apply max-w-[8rem] break-words text-sm sm:text-base;
}

.main-table td {
  @apply px-1 py-1.5 text-sm sm:text-base border border-neutral-300;
}

.form {
  @apply max-w-sm mx-auto;
}

.form .form-group {
  @apply mb-4;
}

.form .form-group label {
  @apply block italic text-neutral-500;
}

.form .form-group input,
.form .form-group select {
  @apply w-full border-neutral-300;
}

.form .form-group textarea {
  @apply h-24 w-full border-neutral-300 resize-none;
}

.form .form-group input[type="checkbox"] {
  @apply w-4;
}

.form .form-actions {
  @apply mt-5 flex items-center justify-end;
}
