@import './variables';

.ham {
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 30px;
}

nav.menu {
  position: fixed;
  width: 12rem;
  top: 2rem;
  left: -18.75rem;
  padding: 1.25rem 0 1.25rem 0;
  background-color: $blue;
  box-shadow: $blue-shaddow;
  color: $white;
  transition: 0.3s all;
}

.menu-show {
  left: 0 !important;
}
