@import './variables';

.ham {
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 30px;
}

nav.menu {
  position: absolute;
  width: 210px;
  top: 44px;
  left: -300px;
  padding: 20px 0 20px 0;
  background-color: $blue;
  box-shadow: $blue-shaddow;
  color: $white;
  transition: 0.3s all;
}

.menu_show {
  left: 0 !important;
}
