$blue: #3778c2;
$dark-blue: #2d5e96;
$darker-blue: #1c4a80;
$green: #5fb523;
$dark-green: #579b26;
$light-green: rgba(137, 199, 137, 0.479);
$smoke: #434b54;
$dark-gray: darkgray;
$pale-gray: #f1f3f2;
$white: white;
$red: rgba(255, 0, 0, 0.746);
$light-red: rgba(211, 132, 132, 0.315);
$gray-shaddow: 1px 1px 1px $dark-gray;
$blue-shaddow: 3px 3px 2px $darker-blue;
$top-bar-height: 40px;

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Regular.otf'); }

body {
  margin: 0;
  padding: 0;
  background-color: $pale-gray;
  color: $smoke;
  font-family: 'Proxima Nova', sans-serif;
}

.user-body {
  margin: 0;
  padding: 0;
  background-color: $blue;
  color: $white;
}

.topbar {
  width: 100%;
  background-color: $blue;
  color: $white;
}

.topbar-user {
  width: 100%;
  background-color: $dark-blue;
  color: $white;
  box-shadow: $blue-shaddow;
}

.navbar-height {
  height: $top-bar-height;
}

.div-space {
  height: $top-bar-height;
}

.ham {
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 30px;
}

nav.menu {
  position: absolute;
  width: 210px;
  top: 44px;
  left: -300px;
  padding: 20px 0 20px 0;
  background-color: $blue;
  box-shadow: $blue-shaddow;
  color: $white;
  transition: 0.3s all;
}

.menu_show {
  left: 0 !important;
}

.user-notice {
  margin-top: $top-bar-height;
  background-color: $white;
}

.top-padding {
  padding-top: 90px;
}

.user-menu-links {
  max-width: 190px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid $white;
}

.date {
  color: $dark-gray;
}

.super-small {
  font-size: 10px;
  color: $dark-gray;
}

.blue-div {
  padding: 20px 0 20px 0;
  background-color: $blue;
  color: $white;
  box-shadow: $blue-shaddow;
}

.white-div {
  width: 100%;
  padding: 5px;
  background-color: $white;
  box-shadow: $gray-shaddow;
}

.white-div-simple {
  padding: 5px;
  background-color: $white;
  box-shadow: $gray-shaddow;
}

.alert {
  padding: 10px;
  background-color: $light-red;
  color: $red;
  box-shadow: $gray-shaddow;
  text-align: center;
}

.notice {
  padding: 10px;
  background-color: $light-green;
  color: $green;
  box-shadow: $gray-shaddow;
  text-align: center;
}

.folder-icon {
  height: 32px;
  width: 32px;
}

.reset-width {
  width: auto;
}

.submit {
  cursor: pointer;
}

.green-button {
  padding: 5px 10px;
  border: none;
  background-color: $green;
  color: $white;
}

.bottom-group {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-green-button {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: $green;
  border: 1px solid $dark-green;
  color: $white;
  font-size: 20px;
}

.bottom-green-button-unfixed {
  width: 100%;
  padding: 10px;
  background-color: $green;
  border: 1px solid $dark-green;
  color: $white;
  font-size: 20px;
}
