<% if notice.present? %>
  <div class="notice">
    <p class="m-0"><%= notice %></p>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert">
    <p class="m-0"><%= alert %></p>
  </div>
<% end %>